.store__header {
    border-bottom: 3px solid #32c996;
    display: block;
    height: 50px;
    padding: 20px 3% 0 3%;
}

.store__navigation {
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    width: 120px;
    display: inline-block;
    background-color: #32c996;
}

.store__main {
    padding: 0 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.store__main > div:first-child {
    width: 100%;
}

@media (min-width: 500px) {
    .store__main {
        display: flex;
        flex-flow: row nowrap;
        /*width: 100%;*/
    }

    .store__main > div:first-child {
        width: 80%;
    }

    .store__main > div:nth-child(2) {
        height: calc(100vh - 93px);
        max-width: 300px;
        display: inline-block;
        float: right;
        width: 30%;
    }
}

