.inventory{
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: 15px;
    padding: 20px;
    overflow-y: auto;
    justify-content: center;
}

.inventory::-webkit-scrollbar {
    width: 0px;
}